# name: Terraform Infrastructure

# on:
#   workflow_dispatch:
# jobs:
#   terraform:
#     runs-on: self-hosted

#     steps:
#       - uses: actions/checkout@v4

#       - name: Terraform Init
#         run: terraform init
#         working-directory: terraform

#       - name: Terraform destroy
#         run: terraform destroy -auto-approve
#         working-directory: terraform

name: Create EKS Cluster with ECR

on:
  workflow_dispatch:

jobs:
  create-eks:
    runs-on: self-hosted

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Delete EKS Cluster
        run: |
          eksctl delete cluster \
            --name demo-eks \
            --region us-east-1
      # - name: Create EKS Cluster
      #   run: |
      #     eksctl create cluster \
      #       --name demo-eks \
      #       --region us-east-1 \
      #       --node-type t3.medium \
      #       --nodes 2 \
      #       --nodes-min 2 \
      #       --nodes-max 4

      # - name: Update Kubeconfig
      #   run: |
      #     aws eks update-kubeconfig \
      #       --name demo-eks \
      #       --region us-east-1

      # - name: Create ECR Repository
      #   run: |
      #     aws ecr create-repository \
      #       --repository-name demo-app \
      #       --region us-east-1 || echo "ECR already exists"

      # - name: Get ECR Repo URI
      #   run: |
      #     aws ecr describe-repositories \
      #       --repository-names demo-app \
      #       --region us-east-1 \
      #       --query 'repositories[0].repositoryUri' \
      #       --output text

      # - name: Test Cluster
      #   run: |
      #     kubectl get nodes
      #     kubectl get pods -A
      #     kubectl get svc -A
