name: Terraform Infrastructure

on:
  workflow_dispatch:
jobs:
  terraform:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Terraform Init
        run: terraform init
        working-directory: terraform

      - name: Terraform destroy
        run: terraform destroy -auto-approve
        working-directory: terraform
